@model TodoItem

<form asp-action="AddItem" method="POST">

    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">

                    <label asp-for="Title">Add a new item</label>
                    <input asp-for="Title" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='duedatepicker'>
                        <input asp-for="DueAt" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <button type="submit">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'en-gb'
                });
            });
        </script>
    </div>
</div>